[submodule "content/posts/2020-11-12-nypd-ccrb-data"]
	path = static/posts/2020-11-12-nypd-ccrb-data
	url = https://github.com/monicathieu/cu-nypd-ccrb-data.git
[submodule "themes/hugo-theme-terminal"]
	path = themes/hugo-theme-terminal
	url = https://github.com/panr/hugo-theme-terminal.git
