{{ define "main" }}
<div class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
  <div class="post-meta">
      {{ if .Params.Date }}
    <span class="post-date">
      {{ .Date.Format "2006-01-02" }}
    </span>
    {{ end }}
    {{ with .Params.Author }}
    <span class="post-author">::
      {{ . }}
    </span>
    {{ else }}
    <span class="post-author">::
      {{ $.Site.Params.Author }}
    </span>
    {{ end }}
  </div>

  {{ if .Params.tags }}
  <span class="post-tags">
    {{ range .Params.tags }}
    #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
    {{ end }}
  </span>
  {{ end }}

  {{ with .Params.Cover }}
  <img src="{{ . | absURL }}" class="post-cover" />
  {{ end }}

  <div class="post-content">
    {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">&#8983;</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}
  </div>

  {{- if .HasShortcode "gallery" -}}
  <!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- Background of PhotoSwipe.
     It's a separate element, as animating opacity is faster than rgba(). -->
  <div class="pswp__bg"></div>
  <!-- Slides wrapper with overflow:hidden. -->
  <div class="pswp__scroll-wrap">
    <!-- Container that holds slides.
      PhotoSwipe keeps only 3 of them in DOM to save memory.
      Don't modify these 3 pswp__item elements, data is added later on. -->
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
    <div class="pswp__ui pswp__ui--hidden">
    <div class="pswp__top-bar">
      <!--  Controls are self-explanatory. Order can be changed. -->
      <div class="pswp__counter"></div>
      <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
      <button class="pswp__button pswp__button--share" title="Share"></button>
      <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
      <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
      <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
      <!-- element will get class pswp__preloader--active when preloader is running -->
      <div class="pswp__preloader">
      <div class="pswp__preloader__icn">
        <div class="pswp__preloader__cut">
        <div class="pswp__preloader__donut"></div>
        </div>
      </div>
      </div>
    </div>
    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
      <div class="pswp__share-tooltip"></div>
    </div>
    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
    </button>
    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
    </button>
    <div class="pswp__caption">
      <div class="pswp__caption__center"></div>
    </div>
    </div>
    </div>
  </div>
  <link rel="stylesheet" href="/plugins/photoswipe/photoswipe.css">
  <link rel="stylesheet" href="/plugins/photoswipe/default-skin/default-skin.css">

  <script src="/plugins/photoswipe/photoswipe.min.js"></script>
  <script src="/plugins/photoswipe/photoswipe-ui-default.min.js"></script>
  <script src="/plugins/photoswipe/photoswipe.js"></script>
  <script>initPhotoSwipeFromDOM('.gallery');</script>
{{- end -}}

  {{ if or .NextInSection .PrevInSection }}
  <div class="pagination">
    <div class="pagination__title">
      <span
        class="pagination__title-h">{{ $.Site.Params.ReadOtherPosts }}</span>
      <hr />
    </div>
    <div class="pagination__buttons">
      {{ if .NextInSection }}
      <span class="button previous">
        <a href="{{ .NextInSection.Permalink }}">
          <span class="button__icon">←</span>
          <span class="button__text">{{ .NextInSection.Title }}</span>
        </a>
      </span>
      {{ end }}
      {{ if .PrevInSection }}
      <span class="button next">
        <a href="{{ .PrevInSection.Permalink }}">
          <span class="button__text">{{ .PrevInSection.Title }}</span>
          <span class="button__icon">→</span>
        </a>
      </span>
      {{ end }}
    </div>
  </div>
  {{ end }}

  {{ partial "comments.html" . }}
</div>
{{ end }}
